<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define VersionNumber="!(bind.FileVersion.Resgrid.Audio.Relay.Console.exe)" ?>
  <?define uberAgentExeSourcePath = "$(var.ProjectDir)..\uberAgent\x64\Release\uberAgent.exe" ?>

  <Product Id="*" Name="Resgrid Relay" Language="1033" Version="1.0.0.0" Manufacturer="Resgrid, LLC" UpgradeCode="17394df4-cfbf-4366-b04c-17614543dfa5">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Resgrid Relay is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="RelaySetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="RelaySetup" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>
</Wix>
